
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Salim Bekri{% endblock %}</title>
    {% block styles %}{% endblock %}
    <link rel="icon" href="/image/oni.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/">Présentation</a></li>
                <li><a href="/experience/">Expérience</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Salim BEKRI</p>
    </footer>
</body>
</html>
