
<header>
    <nav>
        <ul class="navbar">
            <li><a href="index.html">Présentation</a></li>
            <li><a href="experience.html">Expérience</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
